<!doctype html>
<title>Bender</title>
<link rel=stylesheet type=text/css
      href="{{url_for('static', filename='style_bender.css')}}">
<link rel="shortcut_icon"
      href="{{url_for('static', filename='favicon.ico')}}">
<div class=page>
  <a name="groups"></a>
  <h1>Host Groups</h1>
  <table>
    <thead><td>Group</td><td>Member</td><td>Type</td><td>Owner</td><td>RP</td><td>Group</td><td>Member</td></thead>
    {% for group in groupinfo %}
      <tr>
	<td>{{group.name}}</td>
	<td>{{group.member}}</td>
	<td>{{group.type}}</td>
	<td>{{group.owner}}</td>
	<td>{{group.rp}}</td>
	<td><form action="delgroup" method="post">
	    <input type="hidden" value="{{group.name}}" name="group">
	    <input type="submit" name="{{group.name}}" value="delete">
	    </form>
	  </td>
	<td><form action="delmember" method="post">
	    <input type="hidden" value="{{group.name}}" name="group">
	    <input type="hidden" value="{{group.member}}" name="member">
	    <input type="submit" name="{{group.member}}" value="delete">
	    </form>
	  </td>	
      </tr>
     {% endfor %}
  </table>
  <form action="addgroup" method="post">
    <input type="submit" value="Add Group">
    <input type="text" name="groupname" value="group name">
    <input type="text" name="groupmember" value="member name">
    <input type="text" name="grouptype" value="member type">
    <input type="text" name="groupowner" value="member owner">
    <input type="text" name="grouprp" value="member rp">
  </form>
  <hr>
  <form action="savegroup" method="post">
    <input type="submit" value="Save Groups">
  </form>
  <hr>
  <a name="services"></a>
  <h1>Service Templates</h1>
  <table>
    <thead><td>Name</td><td>Port</td><td>Protocol</td><td>Transport</td><td>Direction</td><td>Owner</td><td>RP</td><td>Service</td><td>Line</td></thead>
    {% for svc in svcinfo %}
    <tr>
      <td>{{svc.name}}</td>
      <td>{{svc.port}}</td>
      <td>{{svc.protocol}}</td>
      <td>{{svc.transport}}</td>
      <td>{{svc.direction}}</td>
      <td>{{svc.owner}}</td>
      <td>{{svc.rp}}</td>
      <td><form action="deletesvc" method="post">
	  <input type="hidden" value="{{svc.name}}" name="name">
	  <input type="submit" name="{{svc.name}}" value="delete">
	</form>
      </td>
      <td><form action="deletesvcline" method="post">
	  <input type="submit" name="{{svc.name}}" value="delete">
	  <input type="hidden" value="{{svc.name}}" name="name">
	  <input type="hidden" value="{{svc.port}}" name="port">
	  <input type="hidden" value="{{svc.protocol}}" name="protocol">
	  <input type="hidden" value="{{svc.transport}}" name="transport">
	  <input type="hidden" value="{{svc.direction}}" name="direction">
	  <input type="hidden" value="{{svc.owner}}" name="owner">
	  <input type="hidden" value="{{svc.rp}}" name="rp">
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>
  <form action="addservice" method="post">
    <input type="submit" value="Add Svc">
    <input type="text" name="name" value="service name">
    <input type="text" name="port" value="service port">
    <input type="text" name="protocol" value="service protocol">
    <input type="text" name="transport" value="service transport">
    <input type="text" name="direction" value="service direction">
    <input type="text" name="owner" value="service owner">
    <input type="text" name="rp" value="service rp">
  </form>
  <hr>
  <form action="saveservice" method="post">
    <input type="submit" value="Save Services">
  </form>
  <hr>
  <a name="policies"></a>
  <h1>Policy Groups</h1>
  <table>
    <thead><td>Name</td><td>Source</td><td>Dest</td><td>Template</td><td>Policy</td><td>Line</td></thead>
    {% for pol in polinfo %}
    <tr>
      <td>{{pol.name}}</td>
      <td>{{pol.source}}</td>
      <td>{{pol.destination}}</td>
      <td>{{pol.template}}</td>
      <td><form action="delpolicy" method="post">
	  <input type="submit" name="{{pol.name}}" value="delete">
	  <input type="hidden" value="{{pol.name}}" name="name">
	  </form>
      </td>
      <td><form action="delpolicyline" method="post">
	  <input type="submit" name="{{pol.name}}" value="delete">
	  <input type="hidden" value="{{pol.name}}" name="name">
	  <input type="hidden" value="{{pol.source}}" name="source">
	  <input type="hidden" value="{{pol.destination}}" name="destination">
	  <input type="hidden" value="{{pol.template}}" name="template">
	</form>
      </td>
    <tr>
      {% endfor %}
  </table>
  <form action="addpolicy" method="post">
    <input type="submit" value="Add Policy">
    <input type="text" name="name" value="policy name">
    <input type="text" name="source" value="group source">
    <input type="text" name="destination" value="group destination">
    <input type="text" name="template" value="service template">
  </form>
  <hr>
  <form action="savepolicy" method="post">
    <input type="submit" value="Save Policies">
  </form>
  <hr>
  <a name="renderedpolicies"></a>
  <h1>Rendered Policies</h1>
  <table>
    <thead><td>Group</td><td>Name</td><td>Source</td><td>Source IP</td><td>Dest</td><td>Dest IP</td><td>Direction</td><td>Port</td><td>Protocol</td></thead>
    {% for sdp in sdpinfo %}
    <tr>
      <td>{{sdp.group}}</td>
      <td>{{sdp.name}}</td>
      <td>{{sdp.source}}</td>
      <td>{{sdp.source_ip}}</td>
      <td>{{sdp.destination}}</td>
      <td>{{sdp.destination_ip}}</td>
      <td>{{sdp.direction}}</td>
      <td>{{sdp.port}}</td>
      <td>{{sdp.protocol}}</td>
    <tr>
      {% endfor %}
  </table>
  <form action="rendersdp" method="post">
    <input type="submit" value="Re-render Policies">
  </form>
  <form action="resetsdp" method="post">
    <input type="submit" value="Clear Policies">
  </form>
</div>
  
